   /* Fixes dropdown menus placed on the right side */
   .jumbotron {
    background-image: linear-gradient(to right bottom, rgba(white, 0.6), rgba(black, 0.6)), image-url("map.jpg");
    background-size: cover;
    background-position: center;
}

.logo {
        height: 2.5rem;
}