<!DOCTYPE html>
<html>
<head>
  <title>PlaceX</title>

  <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <script type="text/javascript">
      function initializeMap() {
          var handler = Gmaps.build('Google');
          handler.buildMap({internal: {id: 'basic_map'}}, function () {
              var markers = handler.addMarkers(<%= raw markers %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
          });
      }

      $(document).ready(initializeMap);
      $(document).on('page:load', initializeMap); // Classic Turbolinks
      $(document).on('turbolinks:load', initializeMap); // Turbolinks 5
  </script>
</head>
<body>

<div id="basic_map" style='width: 100%; height: 800px;'></div>

</body>
</html>